@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

* {
  margin: 0px;
  border: 0px;
  padding: 0px;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}
/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

html,
body {
  font-size: 10px;
  height: 100vh;
}

h1 {
  background: lightgreen;
  padding: 1em;
  text-align: center;
}

header,
.container {
  width: 90%;
  margin: 0 auto;
}

.container {
  background: pink;
  height: 100hv;
}

.employees,
.customers {
  background: lightblue;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.employees h2,
.customers h2 {
  background: gray;
  padding: 1em;
  text-align: center;
  margin-bottom: 1em;
}

.employee__roster,
.customer__roster {
  border: 5px dashed black;
  background: pink;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.employee,
.customer {
  background: lightgreen;
  border: 5px dashed black;
  margin: 1em 2em;
  padding: 1em;
  border-radius: 10px;
  flex: 1 1 200px;
}

.employee__name {
  background: blue;
  padding: 0.2em;
  border-bottom: red;
  margin: 1em;
}

.employee__name h3 {
  background: pink;
  padding: 1em;
  border-bottom: black;
  display: block;
  width: 80%;
  margin: 0 auto;
}

.employee__computer,
.employee__department,
.employee__location,
.employee__customers {
  background: lightblue;
  padding: 1em;
  border-bottom: 5px dashed gray;
}

.employee__computer p,
.employee__department p,
.employee__location p {
  margin-bottom: 1em;
}

.employee__department span,
.employee__location span,
.employee__customers span {
  text-transform: capitalize;
}

.customer {
  background: pink;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 1em;
}

.customer__name h3 {
  text-transform: capitalize;
}
