@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

* {
  margin: 0px;
  border: 0px;
  padding: 0px;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}
/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

html,
body {
  font-size: 10px;
}

h1 {
  background: lightgreen;
  padding: 1em;
  text-align: center;
}

header,
#container {
  width: 90%;
  margin: 0 auto;
}

header {
  background: lightgreen;
}

#container {
  background: pink;
  display: flex;
  justify-content: space-around;
}

.employees,
.computers {
  background: lightblue;
  width: 40%;
}

.employees h2,
.computers h2 {
  background: lightslategrey;
  text-align: center;
  padding: 0.4em;
}

.employees ul,
.computers ul {
  background: lightgreen;
  width: 100%;
  margin: 2em auto;
  border: 2px dashed black;
}

.employee,
.computer {
  border: 2px dashed black;
  width: 80%;
  margin: 1em auto;
  padding: 1em;
  border-radius: 10px;
  background: pink;
}
